@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 89, 64, 125;
  --background-end-rgb: 89, 64, 125;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 209, 213, 219;
    --background-start-rgb: 89, 64, 125;
    --background-end-rgb: 65, 41, 99;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}