.topLeftImage {
    position: absolute;
    top: 5%; /* 50px / 1080 * 100 */
    left: 2.60%; /* 50px / 1920 * 100 */
    width: 3.13%; /* 60px / 1920 * 100 */
    height: 5.56%; /* 60px / 1080 * 100 */
}

.topRightImage {
    position: absolute;
    top: 5.74%; /* 62px / 1080 * 100 */
    right: 3.13%; /* 60px / 1920 * 100 */
    width: 50px; /* 50px / 1920 * 100 */
    height: 50px; /* 50px / 1080 * 100 */
}

.centerText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: #333;
}

.bottomLeftText {
    position: absolute;
    bottom: 4%; /* 62px / 1080 * 100 */
    left: 2.60%; /* 50px / 1920 * 100 */
    font-size: 12px;
    text-wrap: wrap;
    color: #333;
}

.buttonContainer {
    position: absolute;
    top: 50%;
    left: 41.25%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #005bb5;
}